@import '../scss/_mixins.scss';

.filter {
  width: 100%;

  @include breakpoint(t) {
    width: calvw(320, 1);
    margin-right: calvw(20, 1);
  }

  @include breakpoint(DL) {
    width: 320px;
    margin-right: 20px;
  }

  
}

.search,
.filter__title,
.stars {
  background-color: white;
  @include box-shadow(0px, 0px, 2px, #cdcdd1);

  @include breakpoint(t) {
    padding: calvw(18, 1);
  }
  @include breakpoint(DL) {
    padding: 18px;
  }
}

.filter__title {
  margin: 0 0 0 0;
  font-size: calvw(18);
  color: #157ab1;
  height: calvw(41);
  display: flex;
  justify-content: center;
  align-items: center;

  &:after{
    margin-left: calvw(10);
  }

  @include breakpoint(t) {
    color: #444444;
    font-size: calvw(18, 1);
    margin-bottom: calvw(5, 1);
    height: auto;
    justify-content: flex-start;

    &:after{
      content: none;
    }
  }

  @include breakpoint(DL) {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

h2 {
  color: #157ab1;
  display: flex;
  align-items: baseline;
  margin: 0;

  @include breakpoint(t) {
    font-size: calvw(14, 1);
    margin-bottom: calvw(17, 1);
  }

  @include breakpoint(DL) {
    font-size: 14px;
    margin-bottom: 17px;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 6px solid #157ab1;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    align-self: center;
  }
}

.search {
  display: none;
  @include breakpoint(t) {
    display: block;
    margin-bottom: calvw(5, 1);
  }

  @include breakpoint(DL) {
    margin-bottom: 5px;
  }

  &__svgcontent {
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }

  &__title {
    width: 100%;
  }

  &__item {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 60%;
    border-radius: 5px;

    @include breakpoint(t) {
      font-size: calvw(14, 1);
      padding: 0 calvw(8, 1);
      height: calvw(31, 1);
      width: calvw(168, 1);
    }
    @include breakpoint(DL) {
      font-size: 14px;
      padding: 0 8px;
      height: 31px;
      width: 168px;
    }
  }

  &__btn {
    font-weight: bold;
    border-radius: 5px;
    background-color: #002c77;
    border: none;
    color: white;
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    @include breakpoint(t) {
      font-size: calvw(15, 1);
      width: calvw(72, 1);
      margin-left: calvw(5, 1);
    }
    @include breakpoint(DL) {
      font-size: 15px;
      width: 72px;
      margin-left: 5px;
    }
  }
}

.stars {
  display: none;

  @include breakpoint(t){
    display: block;
  }
  &__svgcontent {
    display: flex;
    margin-right: 8px;
    width: 13px;
    height: 14px;
  }

  &__title {
    width: 100%;
  }

  &__allstars {
    font-weight: bold;
    font-size: 12px;
    color: black;
  }

  input {
    margin-right: 10px;
  }

  label {
    height: 20px;
    color: #fdba12;
    display: flex;
    align-items: center;
  }
}
