 <div class="feed">
  <div class="feed__item">
    <div class="feed__content">
      <img src="assets/images/hotels/2a5bb415_b.jpg" alt="">
      <caption>
        <h2>Hotel Stefanos</h2>
        <div class="feed__stars">
          <span class="feed__star"></span>
        </div>

        <div class="feed__icons"></div>
      </caption>
    </div>
  </div>

  <div class="feed__info">
    <p class="feed_description">Precio por noche por habitacion</p>

    <div class="feed__price">
      <span class="money price"><b>ARS</b>863</span>
    </div>

    <a href="#" >Ver Hotel</a>
  </div>
</div>