@import '../scss/_mixins.scss';

h2 {
  color: #005098;
  text-align: left;
  font-size: calvw(16);

  @include breakpoint (t) {
    font-size: calvw(16, 1);
    margin: 0;
  }

  @include breakpoint(DL) {
    font-size: 16px;
    margin: 0;
  }
}

img {
  width: 100%;

  @include breakpoint(t) {
    width: calvw(600, 1);
  }

  @include breakpoint(DL) {
    width: 600px;
  }
}

::ng-deep svg.icon use {
  fill: orange;
}


caption {
  width: 100%;
  margin: 0 0 0 20px;

  @include breakpoint(t) {
    margin-left: calvw(20, 1);
  }
  @include breakpoint(DL) {
    margin-left: 20px;
  }

  > * {
    margin: calvw(10) 0;

    @include breakpoint(t) {
      margin: calvw(10, 1) 0;
    }

    @include breakpoint(DL) {
      margin: 10px 0;
    }
  }
}

.feed {
  width: 100%;
  background-color: #fff;
  @include box-shadow(0px, 0px, 2px, #cdcdd1);
  display: flex;
  padding: calvw(8);
  flex-direction: column;
  margin-bottom: calvw(20);

  @include breakpoint(t) {
    padding: calvw(8, 1);
    flex-direction: row;
    margin-bottom: calvw(20,1);
  }

  @include breakpoint(DL) {
    margin-bottom: 20px;
    padding: 8px;
  }

  .icon{
    color:black;
    fill:black
  }

  &__item {
    @include breakpoint(t){

      border-right: 1px dashed #cacaca;
      width: 75%;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: calvw(20);
    border-bottom: 1px dashed #cacaca;
    
    @include breakpoint(t){
      padding-bottom: 0;
      border: none;
      flex-direction: row;
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(t){
      width: 25%;

    }
  }

  &__description {
    text-align: center;
    color: #3a3a3a;
    font-size: calvw(12);
    margin-top: calvw(30);
    @include breakpoint(t) {
      margin-top: 0;
      width: 50%;
      font-size: calvw(12, 1);
    }
    @include breakpoint(DL) {
      font-size: 12px;
    }
  }

  &__pricecontent {
    display: flex;
    align-items: center;
    color: #dd5e00;
    margin-bottom: calvw(3);

    @include breakpoint(DL) {
      margin-bottom: calvw(3, 1);
    }

    @include breakpoint(DL) {
      margin-bottom: 3px;
    }
  }

  &__current {
    font-size: calvw(20);
    margin-right: calvw(2);

    @include breakpoint(t) {
      margin-right: calvw(2, 1);
      font-size: calvw(20, 1);
    }
    @include breakpoint(DL) {
      font-size: 20px;
      margin-right: 2px;
    }
  }

  &__price {
    font-weight: bold;
    font-size: calvw(30);
    margin-left: calvw(2);

    @include breakpoint(t) {
      font-size: calvw(30, 1);
      margin-left: calvw(2, 1);
    }
    @include breakpoint(DL) {
      font-size: 30px;
      margin-left: 2px;
    }
  }

  &__see {
    background-color: #002c77;
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;
    height: calvw(37);
    font-size: calvw(18);
    border-radius: calvw(3);
    margin-top: calvw(10);
    margin-bottom: calvw(30);

    @include breakpoint(t) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: calvw(18,1);
      width: calvw(168, 1);
      height: calvw(37, 1);
      border-radius: calvw(3, 1);
    }
    @include breakpoint(DL) {
      font-size: 18px;
      width: 168px;
      height: 37px;
      border-radius: 3px;
    }
  }

  &__stars {
    display: flex;
    color: #fdba12;
  }

  &__star{
    display: flex;
  }

  &__svgcontent {
    display: block;
    colof:black;
    width: calvw(20);
    height: calvw(20);
    margin-right: calvw(5);

    @include breakpoint(t) {
      width: calvw(20, 1);
      height: calvw(20, 1);
      margin-right: calvw(5,1);
    }
    @include breakpoint(DL) {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }

  &__icons {
    display: flex;
  }
}
