
@import './scss/_mixins.scss';

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  
  @include breakpoint(t){
    flex-direction: row;
    padding: calvw(10,1);
    justify-content: space-between;
  }

  @include breakpoint(DL){
    padding: 20px;
  }
}

.feeds-contains {
  width: 100%;
}
