<header>
  <h1>almundo.com</h1>
</header>

<main>
  <div class="filter">
    <h2>Filtros</h2>

    <div class="search">
      <h2>Nombre de hotel</h2>
      <div class="search__item">
        <input type="text" class="search__input">
        <button class="search__btn">Aceptar</button>
      </div>
    </div>
    
    <div class="stars">
      <h2>Estrellas</h2>

      <ul class="starts__list">
        <li><input type="checkbox"><label for=""></label></li>
        <li><input type="checkbox"><label for=""></label></li>
        <li><input type="checkbox"><label for=""></label></li>
        <li><input type="checkbox"><label for=""></label></li>
        <li><input type="checkbox"><label for=""></label></li>
        <li><input type="checkbox"><label for=""></label></li>
      </ul>
    </div>

  </div>
</main>