<app-header></app-header>

<main>
  
  <app-filter></app-filter>

  <div class="feed">
    <div class="feed__item">
      <div class="feed__content">
        <img src="" alt="">
        <caption>
          <h2></h2>
          <div class="feed__stars">
            <span class="feed__star"></span>
          </div>

          <div class="feed__icons"></div>
        </caption>
      </div>
    </div>

    <div class="feed__info">
      <p class="feed_description"></p>

      <div class="feed__price">
        <span class="money price"></span>
      </div>

      <button type="button">Ver Hotel</button>
    </div>
  </div>
</main>